<h1>Editing equipment_type</h1>

<% form_for(@equipment_type) do |f| %>
	<%= render :partial => 'form' %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @equipment_type %> |
<%= link_to 'Back', equipment_types_path %>