<h1>New equipment_type</h1>

<% form_for(@equipment_type) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', equipment_types_path %>